modelicac
src/modelica_compiler/*.cmi
src/modelica_compiler/*.cmo
src/modelica_compiler/*.cmx
src/modelica_compiler/*.ml
src/modelica_compiler/*.mll
src/modelica_compiler/.depend
src/modelica_compiler/doc
#
#modelicac (windows)
#
src/modelica_compiler/modelicac.exe
src/modelica_compiler/*.obj


#XML2Modelica
XML2Modelica
xml2modelica.exe
src/xml2modelica/*.cmi
src/xml2modelica/*.cmo
src/xml2modelica/linenum.cmx
src/xml2modelica/modelicaCodeGenerator.cmx
src/xml2modelica/stringLexer.cmx
src/xml2modelica/stringParser.cmx
src/xml2modelica/xML2Modelica.cmx
src/xml2modelica/xMLLexer.cmx
src/xml2modelica/xMLParser.cmx
src/xml2modelica/xMLTree.cmx
src/xml2modelica/*.obj



#translator
modelicat
modelicat.exe
src/translator/compilation/compilation.a
src/translator/compilation/*.cmxa
src/translator/compilation/*.cmi
src/translator/compilation/*.cmx
src/translator/exceptionHandling/*.cmi
src/translator/exceptionHandling/*.cmx
src/translator/exceptionHandling/exceptionHandling.a
src/translator/exceptionHandling/*.cmxa
src/translator/instantiation/instantiation.a
src/translator/instantiation/*.cmi
src/translator/instantiation/*.cmx
src/translator/instantiation/*.cmxa
src/translator/parsing/*.cmi
src/translator/parsing/*.cmo
src/translator/parsing/*.cma
src/translator/parsing/*.cmx
src/translator/parsing/parsing.a
src/translator/parsing/*.cmxa
src/translator/translation/*.cmi
src/translator/translation/*.cmx
src/translator/compilation/compilation.cma
src/translator/exceptionHandling/exceptionHandling.cma
src/translator/instantiation/instantiation.cma
src/translator/parsing/lexer.ml
src/translator/parsing/parser.ml
src/translator/compilation/nameResolve.cmo
src/translator/compilation/types.cmo
src/translator/exceptionHandling/errorDico.cmo
src/translator/exceptionHandling/exceptHandler.cmo
src/translator/exceptionHandling/msgDico.cmo
src/translator/instantiation/instantiation.cmo
src/translator/translation/codeGeneration.cmo
src/translator/translation/libraryManager.cmo
src/translator/translation/translator.cmo
src/translator/translation/versiondate.cmo

# .tmp files generated on Windows
src/translator/translation/*.obj
src/translator/parsing/*.obj
src/translator/compilation/*.obj
src/translator/instantiation/*.obj
src/translator/exceptionHandling/*.obj


#
#generated .def files (windows)
#
src/c/noscicos/noscicos.def
src/c/scicos.def
src/fortran/scicos_f.def
src/scicos_sundials/scicos_sundials.def
#
#generated help files
#
chm
help/en_US/master_help.xml
help/fr_FR/master_help.xml
help/pt_BR/master_help.xml
help/en_US/scilab_en_US_help/
help/en_US/scilab_fr_FR_help/
help/en_US/scilab_pt_BR_help/
help/fr_FR/scilab_fr_FR_help/
help/pt_BR/scilab_pt_BR_help/
