modelicac
src/modelica_compiler/*.cmi
src/modelica_compiler/*.cmo
src/modelica_compiler/*.cmx
src/modelica_compiler/*.ml
src/modelica_compiler/*.mll
src/modelica_compiler/.depend
src/modelica_compiler/doc
#
#modelicac (windows)
#
src/modelica_compiler/modelicac.exe
src/modelica_compiler/*.obj

#
#generated .def files (windows)
#
src/c/noscicos/noscicos.def
src/c/scicos.def
src/fortran/scicos_f.def
src/scicos_sundials/scicos_sundials.def
#
#generated help files
#
chm
help/en_US/master_help.xml
help/fr_FR/master_help.xml
help/pt_BR/master_help.xml
help/en_US/scilab_en_US_help/
help/en_US/scilab_fr_FR_help/
help/en_US/scilab_pt_BR_help/
help/fr_FR/scilab_fr_FR_help/
help/pt_BR/scilab_pt_BR_help/
