<!--title=<!--<title>-->--> <!--subtitle=<!--<subtitle>-->-->

<div class="container">
  
  <div class="manualnavbar">
    <div class="links">
      <!--links-->
    </div>
    <table width="100%">
      <tr>
    <td>
      <a href="/"><img src="/img/logo_scilab.png" border="0"/></a>
      <div class="title">Scilab Documentation portal - beta</div>      
    </td>
    <td colspan="3" class="next">
      <!--login--><br />
      <!--search-->
    </td>
      </tr>
      <tr>
    <td width="30%">
      <!--<previous>-->
    </td>
    <td width="40%" class="center">
      <!--<top>-->
    </td>
    <td width="30%" class="next">
      <!--<next>-->
    </td>
      </tr>
    </table>
  </div>
  
  <div class="editbar">
    <div class="selectlanguage">
      <!--selectlanguage-->
    </div>
    
    <div class="favorite">
      <!--favorite-->
    </div>
  </div>
  
  <div class="error">
    <!--error-->
  </div>
  
  <div class="leftpart">
    <div class="title"><!--<version>--></div>
    <!--<toclist>-->
  </div>
  <div class="content">
    
    <!--<content>-->
    
    <!--zone_comment-->
  </div>
  
  <div class="manualnavbar">
    <table width="100%"><tr>
    <td width="30%">
      <!--<previous>-->
    </td>
    <td width="40%" class="center">
      <!--<top>-->
    </td>
    <td width="30%" class="next">
      <!--<next>-->
    </td>
    </tr></table>
    <hr />
  </div>
  
  
  
  <div id="footnav">
    <!--<version>-->
  </div>
  
  <div id="pagefooter">
    <div id="pagefooterleft">
      <b><a href="http://www.scilab.org/">Consortium Scilab (DIGITEO)</a></b><br />
      Copyright (c) 1989-2010 (INRIA)<br />
      Copyright (c) 1989-2007 (ENPC)<br />
      with <a href="http://www.scilab.org/communities/developer_zone/contribute/contributors_list">contributors</a>
    </div>
    
    <div id="pagefooterright">
      Last updated:<br /><!--<generationdate>-->
      <br /><br /><br />
    </div>
  </div>
</div>
