#
#generated .def files (windows)
#
src/fortran/eispack/eispack_f.def
src/fortran/linpack/linpack_f.def
src/fortran/slatec/slatec_f.def
src/fortran/elementary_functions_f.def

#
# F2C conversion
#
src/fortran/*/*.c