<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
 * Scilab ( http://www.scilab.org/ ) - This file is part of Scilab
 * Copyright (C) INRIA - Serge Steer
 *
 * Copyright (C) 2012 - 2016 - Scilab Enterprises
 *
 * This file is hereby licensed under the terms of the GNU GPL v2.0,
 * pursuant to article 5.3.4 of the CeCILL v.2.1.
 * This file was originally licensed under the terms of the CeCILL v2.1,
 * and continues to be available under such terms.
 * For more information, see the COPYING file which you should have received
 * along with this program.
 *
 -->
<refentry xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" xmlns:ns4="http://www.w3.org/1999/xhtml" xmlns:mml="http://www.w3.org/1998/Math/MathML" xmlns:db="http://docbook.org/ns/docbook" xmlns:scilab="http://www.scilab.org" xml:id="springcolormap" xml:lang="pt">
    <refnamediv>
        <refname>springcolormap</refname>
        <refpurpose>Mapa de cores com tons da primavera (magenta,
            amarelo)
        </refpurpose>
    </refnamediv>
    <refsynopsisdiv>
        <title>Seqüência de Chamamento</title>
        <synopsis>cmap=springcolormap(n)</synopsis>
    </refsynopsisdiv>
    <refsection>
        <title>Parâmetros</title>
        <variablelist>
            <varlistentry>
                <term>n</term>
                <listitem>
                    <para>inteiro &gt;= 3, o tamanho do mapa de cores. </para>
                </listitem>
            </varlistentry>
            <varlistentry>
                <term>cmap</term>
                <listitem>
                    <para>
                        matriz com 3 colunas <literal>[R,G,B]</literal>.
                    </para>
                </listitem>
            </varlistentry>
        </variablelist>
    </refsection>
    <refsection>
        <title>Descrição</title>
        <para>
            <literal>springcolormap</literal> computa um mapa de cores com
            <literal>n</literal> cores variando de magenta a amarelo.
        </para>
    </refsection>
    <refsection>
        <title>Exemplos</title>
        <programlisting role="example"><![CDATA[
f = scf();
plot3d1();
f.color_map = springcolormap(32);
 ]]></programlisting>
    </refsection>
    <refsection role="see also">
        <title>Ver Também</title>
        <simplelist type="inline">
            <member>
                <link linkend="colormap">colormap</link>
            </member>
            <member>
                <link linkend="autumncolormap">autumncolormap</link>
            </member>
            <member>
                <link linkend="bonecolormap">bonecolormap</link>
            </member>
            <member>
                <link linkend="coolcolormap">coolcolormap</link>
            </member>
            <member>
                <link linkend="coppercolormap">coppercolormap</link>
            </member>
            <member>
                <link linkend="graycolormap">graycolormap</link>
            </member>
            <member>
                <link linkend="hotcolormap">hotcolormap</link>
            </member>
            <member>
                <link linkend="hsvcolormap">hsvcolormap</link>
            </member>
            <member>
                <link linkend="jetcolormap">jetcolormap</link>
            </member>
            <member>
                <link linkend="oceancolormap">oceancolormap</link>
            </member>
            <member>
                <link linkend="pinkcolormap">pinkcolormap</link>
            </member>
            <member>
                <link linkend="rainbowcolormap">rainbowcolormap</link>
            </member>
            <member>
                <link linkend="summercolormap">summercolormap</link>
            </member>
            <member>
                <link linkend="whitecolormap">whitecolormap</link>
            </member>
            <member>
                <link linkend="wintercolormap">wintercolormap</link>
            </member>
        </simplelist>
    </refsection>
</refentry>
