/* ====================================================== */
/* toolbox.css
/* Date : 19 avril 2006
/*
/* Author :
/*     Farid BELAHCENE
/*     Scilab TEAM
/*
/* Reoganized by 
/*     Pierre MARECHAL
/*     Scilab TEAM
/*
/* Copyright INRIA
/* ====================================================== */

/* ====================================================== */
/* body
/* ====================================================== */

	body {
		color: black;
		background: white;
		font-family: arial,helvetica,sans-serif;
		padding : 10px;
		margin : 0;
	}
	
/* ====================================================== */
/* h1, h2 & Cie
/* ====================================================== */
	
	h1{
		text-align:center;
	}
	
	h2{
		padding-top:10px;
		padding-bottom:10px;
		text-decoration:none;
	}
	
/* ====================================================== */
/* a tags
/* ====================================================== */
	
	a {
		color: blue;
		text-decoration:none;
	}
	
	a:visited {
		color: #00a;
	}
	
	a:active {
		color: red;
	}
	
	a:hover {
		text-decoration:underline;
	}
	
	
/* ====================================================== */
/* Element contenant du code à afficher tel quel
/* ====================================================== */	
	
	pre.entete{
		background-color:#EEEEEE;
		border:thin solid black;
		padding : 10px;
		font-size : 85%;
		font-family:"Courier New", Courier, monospace;
	}
	
/* ====================================================== */
/* other
/* ====================================================== */	

	var {
		font-style:italic;
	}
	
	P EM {text-decoration:underline;}
