[Desktop Entry]
Comment=Hybrid simulator
Comment[ru]=Гибридный симулятор
Exec=xcos
GenericName=Scientific Software Package
GenericName[fr]=Logiciel de calcul numérique
GenericName[de]=Wissenschaftssoftware
GenericName[ru]=Научный программный комплекс
Icon=xcos
MimeType=application/x-scilab-xcos;application/x-scilab-zcos;application/x-scilab-cosf;application/x-scilab-cos;
Name=Xcos
StartupNotify=false
Terminal=false
Type=Application
Categories=Science;Physics;
